{% extends "home.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  <div>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Log In</button>
  </div>
</form>
{% endblock content %}