<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    {% include "navbar/partials/brand.html" %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">
            <i class="bi bi-person-plus-fill"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
