<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% include "navbar/partials/brand.html" %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- mettre des form django -->
      {{ monform.as_p }}
      {% comment %} <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
      <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0 ml-auto mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="bi bi-person"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-basket2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" >
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
</nav>